._container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

._btn {
	border: 0;
	outline: 0;
	background: none;
}

._btn--load {
    background: transparentize($color-primary, .4);
    width: 100%;
    color: #fff;
    padding: 20px;
    transition: .3s ease;

    &:hover {
	    background: $color-primary;
	}
}

.info-message {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparentize($color-primary, .25);
    text-align: center;
    color: #fff;
}