._dropdown {
	position: relative;
	min-width: 100px;

	._dropdown-list {
		display: none;
		position: absolute;
		min-width: 100%;
		top: -10px;
		left: 0;
		padding-top: 5px + $border-width-default;
		box-shadow: 0 2px 8px -2px #CCC;
		transition: 0.3s ease;
		background: $background;
		animation: .3s fade-in;

		&.active {
			display: block;

			&:before {
				animation: .3s extend;
			}

			li {
				animation: .3s roll-left;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: $border-width-default;
			left: 0;
			height: $border-width-default;
			width: 100%;
			background: #449FDB;
			transition: .3s ease;
		}

		li {
			min-width: 100px;
			transition: .3s ease;

			a {
				display: flex;
    			align-items: center;
    			padding: 7px 25px 7px 10px;
    			transition: .3s ease;
			}

			&.selected,
			&:hover {
				background: $background-blue;

				a {
					color: $text-color-inverse;	
				}
				
			}
		}

		&.ng-enter,
		&.ng-leave.ng-leave-active {
			opacity:0;

			&:before {
				width: 0;
			}
			li {
				transform: translate3d(-10px, 0, 0)
			}
		}

		&.ng-leave,
		&.ng-enter.ng-enter-active {
			opacity:1;

			&:before {
				width: 100%;
			}

			li {
				transform: translate3d(0, 0, 0);
			}
				
		}
	}

	._dropdown-label {
		display: flex;
		padding: 8px 20px;
		align-items: center;
		transition: .3s ease;
		transform-origin: center; 
		
		.icon {
			transition: .3s ease;
			transform-origin: center; 
		}

		&.opened {
			transform: translate3d(20px, 0, 0);
			opacity: 0;

			.icon {
				transform: rotate(90deg); 
			}
		}
	}
} 