._header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
    background: #fff;
    border-bottom: 2px solid rgba(242, 242, 242, 1);

	._container {
		display: flex;
    	align-items: center;
    	justify-content: space-between;
	}

    h1 {
	    margin: 0;
	    line-height: $header-height;
	}
}