._ribbon {
	display: flex;
	align-items: center;
	height: 40px;
	margin: 0 0 20px;
	padding: 30px 0 20px;
	border-bottom: $border-width-default solid $color-grey;
	background: $background;
	transition: .3s ease;

	._container {
		display: flex;
		justify-content: space-between;
		flex: 1 0 100%;
	}
}